<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luminespire by Vyxal</title>
    <link rel="shortcut icon" href="../common/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../common/styles/style.scss?inline">
    <link rel="stylesheet" href="bootstrap-icons/font/bootstrap-icons.css">
    <link rel="preload" href="https://discord.com/api/guilds/936437703048822844/widget.json" as="fetch" crossorigin="anonymous">
    <script type="module" src="scripts/main.tsx"></script>
</head>
<body data-bs-theme="dark">
    {{> header}}
    <main id="react-container"></main>
</body>
</html>