body {
  margin: 0;
  height: 100vh;
  background-color: #0a0a0a;
  color-scheme: dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #1b1b1b;
}

::-webkit-scrollbar-thumb {
  background: #3f3f3f;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
