<header>
    <nav class="navbar navbar-expand-sm bg-body-tertiary">
        <div class="container">
            <a href="/" class="navbar-brand">
                <img src="../common/assets/logo-64.png" width="32" height="32" class="rounded me-2"
                    alt="Vyxal woogle" />
                <span>Vyxal 3</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/Vyxal/Vyxal/tree/version-3/documentation">Docs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/Vyxal">Community</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="https://codegolf.stackexchange.com/search?q=%22Vyxal+3%22">Examples</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://discord.gg/N9AfEF9zz5" class="nav-link position-relative">
                            Discord
                            <span class="discord-online ms-1 badge rounded-pill text-bg-success"><i
                                    class="bi bi-person"></i><span id="discord-online"></span></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- this import is resolved relative to the template which _includes_ this one, for some reason -->
<script type="module" src="../common/scripts/discord.ts"></script>